
.roboto-raleway {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    background-color: #4d47ff11;
}
/* Banner Section */
.hero-bg{
    background-image: url('../Assets/Hero-bg.png');
    height: 698px;
    width: 1440px;
    background-size: auto;
    margin:  auto;
}
.h-1{
    color: #252432;
    font-size: 65px;
    text-align: center;
    line-height:0.1;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.logo{
    margin-left: 150px;
    margin-top: 60px;
    font-size: 28px;
    color: #4E47FF ;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: bolder;
}
.sign-up{
    margin-right: 150px;
    margin-top: 60px;
    padding: 12px 36px;
    font-size: 0.9em;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.sign-up:hover{
    background-color: rgb(185, 0, 86);
    transition: 0.7s;
}
.btn-2{
     padding: 12px 36px;
    font-size: 0.9em;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 630px;
    margin-top: 90px;
    font-weight: bold;
    cursor: pointer;
}
.btn-2:hover{
    background-color: rgb(185, 0, 86);
    transition: 0.7s;
}




/* Action Section */
.action{
    display: flex;
    width: 1140px;
    height: 328px;
    margin: 0 auto;
    margin-top: 115px;
    justify-content: space-between;
    /* margin: 116px 370px; */
    align-items: center;
}
.action-d{
    font-size: large;
    line-height: 0.4;
    font-family: Arial, Helvetica, sans-serif
}
.action-h{
    font-size: 42px;
    color: #252432;
}
.action-p{
    font-size: 22px;
    line-height: 0.2;
    color: #252432;
    opacity: 50%;
}
.action-b{
    margin-top: 20px;
    font-size: 16;
    padding: 12px 36px;
    font-size: 0.9em;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer
}
.action-b:hover{
        background-color: rgb(185, 0, 86);
    transition: 0.7s;
}
.action-img{
    border-radius: 50px;
}




/* Productive Users Section */
.join{
   max-width: 1140px; 
    height: 306px;
    margin: 0 auto;
    margin-top: 115px;
    background-color: #4d47ff26;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 20px;
    
    
}

.join-h{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    text-align: center;
   
    
}
.users{
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 0;
}

.p-num{
    font-size: 80px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;
    color: #4E47FF;
}

.p-det{
    color: #252432;
    opacity: 50%;
    font-size: 20px;
}



/* user stars */
.what{
    margin-top: 137px;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}
.stars{
    display: flex;
    margin-top: 50px;
    gap: 24px;
}
.review{
    padding: 24px;
    box-shadow: 0px 0px 15px 0px #25243235;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
 .ava{
    display: flex;
    gap: 15px;
}
.girl{
    height: 50px;
    width: 50px;
    clip-path: circle(50% at 50% 50%);
}
.ava-p{
    line-height: 0.3;
    color: #252432;
    font-weight: 800px;
}


/* ready to focus */
.focus{
    width: 1140px;
    height: 697px;
    box-shadow: 0px 0px 15px 0px #25243235;
    margin-top: 137px;
}
.foc-t{
    text-align: center;
    padding-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0.1;
}
.foc-h{
    font-size: 50px;
    color: #252432;
}
.foc-img{
    border-radius: 30px;
    margin: 20px 150px 70px;
   
}

.foc-p{
    color: #25243280;
}

.foc-btn{
    margin-top: 30px;
    padding: 12px 36px;
    font-size: 0.9em;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    
    cursor: pointer;
}

.foc-btn:hover{
    background-color: rgb(185, 0, 86);
    transition: 0.7s;
}




/* Let’s Get In Touch Section */

.contact-sec{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1140px;
    height: 632px;
    margin-top: 137px;
    box-shadow: 0px 0px 15px 0px #25243235;
    font-family: Arial, Helvetica, sans-serif;
}
.con-h{
    font-size: 97px;
    margin-top: 250px;
    margin-left: 50px;
    font-weight: bold;
}
.con-form{
    margin-top: 200px;
    margin-right: 13px;
}
label{
    font-size: large;
}
input,textarea{
    padding: 15px 99px 15px 10px;
    font-size: 20px;
    border: 1px;
    border-radius: 6px;

}
.form-g{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.con-btn{
    margin-top: 20px;
    font-size: 14px;
    padding: 14px 150px;
    border: none;
    border-radius: 6px;
    background-color: #4E47FF;
    color: white;
    cursor: pointer;
}
.con-btn:hover{
      background-color: rgb(185, 0, 86);
    transition: 0.7s;
}



/* Footer Section */
.foot{
    text-align: center;
}


